<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/icons.svg#icon-close"></use>
         </svg>
       </button>
       <h1 class="team__title">G3 Students</h1>
       <div class="team__box">

             <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Perci.jpg"
              alt="Perci"/>
             </div>
            <a class="team__link"
            href="https://github.com/perci-aceron/"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Perci Aceron</p>
            <p class="team__role">Team Lead - Loader and Additional Functionalities</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Kate.jpg"
              alt="Kate"/>
             </div>
            <a class="team__link"
            href="https://github.com/katelim215"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Kate Limosnero</p>
            <p class="team__role">Scrum Master - libraries</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Mon.jpg"
              alt="Mon"/>
             </div>
            <a class="team__link"
            href="https://github.com/kiksmon21"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Mon Laguatan</p>
            <p class="team__role">Developer - UI/UX design</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Rey.jpg"
              alt="Rey"/>
             </div>
            <a class="team__link"
            href="https://github.com/reyleal27"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Rey Leal</p>
            <p class="team__role">Developer - main page</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Jessa.jpg"
              alt="Jessah"/>
             </div>
            <a class="team__link"
            href=""
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Jessah Seroje</p>
            <p class="team__role">Developer - libraries</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Bri.jpg"
              alt="Bri"/>
             </div>
            <a class="team__link"
            href="https://github.com/Bmorta"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Bri Morta</p>
            <p class="team__role">Developer - movie cards, modals</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/franci.jpg"
              alt="Franci"/>
             </div>
            <a class="team__link"
            href="https://github.com/ciehgiordani"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Franci Giordani</p>
            <p class="team__role">Developer - movie cards, modals</p>
          </div>
          

